<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013567616922-j01a033k5qc24u6ni7lpj4qpvaqosl24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013567616922-j01a033k5qc24u6ni7lpj4qpvaqosl24</string>
	<key>API_KEY</key>
	<string>AIzaSyBP39ofYATeamBQl7fHZFFf8v4APyTG5AM</string>
	<key>GCM_SENDER_ID</key>
	<string>1013567616922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>defy.blog.defy-blog-ios</string>
	<key>PROJECT_ID</key>
	<string>defy-blog</string>
	<key>STORAGE_BUCKET</key>
	<string>defy-blog.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013567616922:ios:7bae14bec45c91f41f6c23</string>
</dict>
</plist>